<div class="portfolio-modal modal fade" id="portfolioModal{{number}}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2>{{title}}</h2>
              <p class="item-intro text-muted">{{item-intro}}</p>
              <img class="img-responsive img-centered" src="{{img-url}}" alt="">
              <p>{{description}}</p>
              </br>
              <p>{{additional-desc}}</p>
              <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>